@import "base16-hybrid.css";

* {
  box-shadow: none;
  padding: 0;
}

window#waybar {
  background: transparent; 
  font-weight: 600;
  font-family: 'Fira Code', 'Symbols Nerd Font Mono';
  font-size: 12px;
  color: @termFG;
}

tooltip {
  font-weight: 600;
  font-family: 'Fira Code', 'Symbols Nerd Font Mono';
  font-size: 12px;
  background: @termBG;
}

tooltip label {
  color: @termFG;
}

#backlight,
#battery,
#bluetooth,
#network,
#pulseaudio,
#custom-power,
#idle_inhibitor,
#workspaces,
#window,
#tray,
#clock {
  margin-top: 8px;
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 6px;
  color: @termFG;
  background-color: @term00;
  opacity: 0.9;
}

#workspaces {
  margin-left: 8px;
  margin-right: 0;
}

#workspaces button {
  color: @term07;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button.visible {
  color: #add9ff;
  text-shadow: @term12 0 0 4px;
}

#workspaces button.active {
  color: #b9fff6;
  text-shadow: @term14 0 0 4px;
}

#workspaces button.urgent {
  color: #ffd27b;
  text-shadow: @term11 0 0 4px;
}

#custom-power, #network, #pulseaudio {
  margin-right: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 8px;
}

#idle_inhibitor {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 8px;
  padding-right: 8px;
}

#backlight, #bluetooth, #battery {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 8px;
  margin-right: 0;
}

#tray, #window {
  margin-left: 8px;
  margin-right: 8px;
  font-family: 'Fira Sans', 'Symbols Nerd Font Mono';
  color: @termBG;
  background-color: @termFG;
  border-color: @term00;
  border-width: 2px;
  border-style: ridge;
}

