.DS_Store

# User specified data
pyvenv
wine

# Sublime text cache
sublime/user/*.cache
sublime/user/*.last-run
sublime/user/*.*-ca-bundle
sublime/user/*.crt

# Vim Plugins (Shall be pulled independently)
nvim/plugins

# Other repository
rime-liur-lua/

# Intellectual propitiatory stuff
init/secret

# Identity sensitive files
ssh/config
